body{
     background-color: rgb(53, 53, 53) !important;
}

h1{
    color:white !important;
}
     .uploader { border: dashed 2px #bdbdbd;
    padding: 25px 0;
    letter-spacing: 1px;
    text-align: center;
     background:#f3f3f3;
     }

#filePhoto{
        position: absolute;
    width: 265px;
    height: 95px;
    top: 15px;
    opacity: 0;
    cursor: pointer;
}

.uploader img{
    position:absolute;
    width:302px;
    height:352px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}


    .toolbar button{background: 0 0;
    color: #222;
    border: 0;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    margin: 0 2px;
    position: relative;
    text-decoration: none;
    float: left;
    padding: 0;
    width: 38px;
    height: 38px;}

    .toolbar{    color: #222;
    background: #fff;
    position: relative;
    z-index: 4;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0 2px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16); 
    text-align: left;
    border: 0;
    border-top: 7px solid #b51b14;
    overflow:hidden;
   }
    .toolbar button i {display: block;
    font-size: 14px;
    width: 14px;
    margin: 12px;
    text-align: center;
    float: none;}

    #editor{
      border: 1px solid #ccc;
    padding: 10px;
     box-shadow: 0px 0px 10px #b51b14;
     background:white;
     min-height: 610px;

    }

    #editor:focus{
        
  outline: none;
    }

    .buttons{
        margin-top:5px;
        margin-bottom:5px;
        float:right;
    }

    #readMoreModal .modal-body img , #previewModal .modal-body img ,#editor img{
      width: 100%;
    height: auto;
    cursor: pointer;
    display: none;
    }

    .modal-header{
        
      background: #b51b14;
    border: none;
    border-radius: 0px;
    color: white;
    }

    .header-tabs{
        display: block;
    background: #b51b14;
    padding: 9px 15px;
    font-size: 16px;
    color: white;
    }

    .rightSideBar{
      margin-top: 56px;
    }

    .rightSideBar .recent-content{
        
      background: white;
    }

    .rightSideBar .recent-content .posts-body{
        display: block;
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 18px;
    color: #6f6f6e;
    text-align: justify;
    }

    .rightSideBar .recent-content a{
      color: #007bff !important;
     cursor: pointer;
    }

    .rightSideBar .recent-content .posts .posts-body p{
        white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 345px;
  }

    .posts-buttons{
        overflow: hidden;
        border-bottom: 1px solid #b51b14;
    }

    .posts-buttons span{
    color: #6f6f6e;
    font-size: 11px;
    padding-left:5px;

    }

    p{
        margin:0!important;
    }

    .fileUpload{
        position: absolute;
    width: 38px;
    height: 38px;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    }

    .separator{
      height: 34px;
    width: 1px;
    margin: 2px;
    background: #ebebeb;
    display: block;
    float: left;
}


@media screen and (max-width: 720px)
{
    .rightSideBar{
      margin-top: 10px;
    }

     .rightSideBar .recent-content .posts .posts-body p{
  max-width: 485px;
  }
  .h1, h1 {
    font-size: 1.5rem !important;
}
}